<div class="row">
  <h2>Administración de usuarios</h2>
</div>


<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Localidad</th>
      <th>Tipo de cuenta</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= content_tag(:td, user.name) %>
        <%= content_tag(:td, user.phone) %>
        <%= content_tag(:td, user.location) %>
        <td>
          <%= link_to "ADMIN", "#", class: "btn btn-success btn-xs" if user.has_role? :admin %>
          <%= link_to "HUNTER", "#", class: "btn btn-default btn-xs" if user.has_role? :hunter %>
          <%= link_to "PUBLISHER", "#", class: "btn btn-primary btn-xs" if user.has_role? :publisher %>
        </td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro eliminar esta cuenta?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
