<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @publisher.name %></h1>
    <p>
      Tienes un mensaje de <strong><%= @sender.name %></strong>,
      por tu aviso: <%= @aviso.title %>.<br>
    </p>
    <p>
      <%= @sender.name %> te escribio:
    </p>
    <div>
      <blockquote>
        <%= @message.html_safe %>
      </blockquote>
    </div>
  </body>
</html>
