<%= form_for @communicate, :remote => true, :html => { :class => "form-horizontal" } do |f| %>

<fieldset>
  <legend class="text-center">Contactar al anunciante:</legend>

  <div class="form-group">
    <%= f.label :message, "Escribá su mensaje:", :class => "control-label col-md-3" %>
    <div class="col-md-9">
      <%= f.text_area :message, :class => "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :sender_id, :value => current_user.id %>
  <%= f.hidden_field :publisher_id, :value => @aviso.user_id %>
  <%= f.hidden_field :aviso_id, :value => @aviso.id %>

<!-- Form actions -->
<div class="form-group">
  <div class="col-md-12 text-right">
  <%= f.submit "Enviar mensaje", :class => "btn btn-primary btn-sm" %>
  </div>
</div>

</fieldset>

<% end %>
